---
---
@import "main";

.nav-icon {
  float: left;
  padding: 10px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
	float: down;
}

.nav-links li {
		float: left;
		padding: 3px;
}

nav {
  left: 0;
  top: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
	overflow: hidden; 
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
}
